# Boosting

In [1]:
# Boosting:- Here, every model (DT) works in sequence with the other to reduce the error and get the 'Best Model(DT)'
# Boosting is a concept where models are trained in sequence and every next model works on error of previous model(DT)

# Implementation of Adaboost

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../Social_Network_Ads.csv')

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
X = df[['Age', 'EstimatedSalary']]
y =df['Purchased']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=52)

In [8]:
from sklearn.ensemble import AdaBoostClassifier

In [23]:
model = AdaBoostClassifier(n_estimators=50, random_state=50, learning_rate=1.25)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.91

In [24]:
# Parameters :- Base_estimator- Base model(Generally, DT but we can use Log. Reg, SVM etc)
# Learning rate:- Effect of every classifier is decided by learning rate
# SAMME:- Concept of increasing weights of misclassified points
# SAMME R:- Used this parameter where we get class probabilities as a output (eg. Log Reg, Navie Bays classifier etc)
# n_estimaters:- No of models (DT) required in a model