# LIST

In [1]:
# LIST:- Indicated by [], Items inlist are comma seperated, It can have duplicates, Indexing and slicing is possible.
# List is Mutable, Heterogenius elements can be stored, list is seperate class. 
# It only stores reference of object and not the object in it.
# Iterations on list can be done by 'for loop' or 'while loop'

In [2]:
# Indexing and slicing in list is same as in string.

In [3]:
A = [10,20,30,40,50]
B = A[1:4:1]
print(B)

[20, 30, 40]

# List Functions

In [4]:
# Append :- It adds only one object in list at the end

In [5]:
A = list()
print (A)

[]

In [6]:
A.append(10)
print(A)

[10]

In [7]:
A.append(20)

In [8]:
print (A)

[10, 20]

In [9]:
A.clear() # It removes all th objects from list

In [10]:
print(A)

[]

In [11]:
A = [10,20,30,40,50] # new list object list (A)

In [12]:
A.count(20) # Count:- It counts the no. of occurances of any object in list

1

In [13]:
A.append([50,60])
print (A)

[10, 20, 30, 40, 50, [50, 60]]

In [14]:
A.count(60)

0

In [15]:
A[5].count(60)

1

In [16]:
A.extend([70,80,90]) # It adds any no of objects in the list at the end from the iterable. i.e. list, string, tuple etc
print(A)

[10, 20, 30, 40, 50, [50, 60], 70, 80, 90]

In [17]:
A = [10,20,30,40,50]
A.index (50) # Index:- It returns the index of first occurance given element from the list

4

In [18]:
A.insert(2,25) # Insert:- here, we can add object into the list at any desired location by providing index of location.
A

[10, 20, 25, 30, 40, 50]

In [19]:
A.remove(25) # remove:- It deletes the object from list by its value, i.e. the value which wehave provided in remove func.
A     # here, it will remove 25 from list

[10, 20, 30, 40, 50]

In [20]:
A.pop(1) # pop:- It deletes the object from list by its index, i.e. the value which is present at given index. 
A     # here, it will delete the object present at index (1) from list

[10, 30, 40, 50]

In [21]:
A.extend([40,25,15,5])
A

[10, 30, 40, 50, 40, 25, 15, 5]

In [22]:
A.sort() # sort :- It Sort the list in ascending order and return None.
A

[5, 10, 15, 25, 30, 40, 40, 50]

# Shallow Copy and Deep Copy

In [23]:
# Shallow copy:-

In [25]:
A = [10,20,[30,40]] # Created a nested list
B = A  # Here, 'B' is refering to the same object referred by 'A'  
C = A.copy()  # In 'C' we are creating shallow copy of 'A'
A, B, C

([10, 20, [30, 40]], [10, 20, [30, 40]], [10, 20, [30, 40]])

In [30]:
"""Now, if we make any change in 'A' will be reflected in 'B', but not in 'C', 
 But if we make change in sublist present in 'A', the that change will reflect in 'C'. It is called as 'Shallow copy'
 In shallow copy, new object (C) is created and in that the same references present in "A" are copied. """

'Now, if we make any change in \'A\' will be reflected in \'B\', but not in \'C\', \n But if we make change in sublist present in \'A\', the that change will reflect in \'C\'. It is called as \'Shallow copy\'\n In shallow copy, new object (C) is created and in that the same references present in "A" are copied. '

In [33]:
A[0] = 'X'
print('A :', A)
print('B :', B) # Changes in 'A' will be refelected in 'B' but not in 'C'
print('C :', C)

A : ['X', 20, [30, 40]]
B : ['X', 20, [30, 40]]
C : [10, 20, [30, 40]]

In [38]:
A[2].append ('Pune')
print('A :', A)
print('B :', B) # Changes in sublist of 'A' will be refelected in 'B' and 'C'
print('C :', C) # Here, 'C' is shallow copy of 'A'

A : ['X', 20, [30, 40, 'Pune']]
B : ['X', 20, [30, 40, 'Pune']]
C : [10, 20, [30, 40, 'Pune']]

In [40]:
# Deep Copy:- If we dont want to reflect the change in 'A', in copied list (D), then we can use deep copy.
# For 'deep copy', we have to import copy function.

In [42]:
import copy
D = copy.deepcopy(A)
print('A :', A)
print('B :', B) 
print('C :', C)
print('D :', D) # Deep copy

A : ['X', 20, [30, 40, 'Pune']]
B : ['X', 20, [30, 40, 'Pune']]
C : [10, 20, [30, 40, 'Pune']]
D : ['X', 20, [30, 40, 'Pune']]

In [43]:
A[2].remove(30) # This change in 'A' will be reflected in 'B', 'C' but not in 'D' as 'D' is deep copy
print('A :', A)
print('B :', B) # Refering to same list present in 'A'
print('C :', C) # Shallow copy
print('D :', D) # Deeep copy

A : ['X', 20, [40, 'Pune']]
B : ['X', 20, [40, 'Pune']]
C : [10, 20, [40, 'Pune']]
D : ['X', 20, [30, 40, 'Pune']]

In [46]:
# If there is any mutuble object is present in original list then deep copy will make a new physical copy of the same mutable object.
# No physical copy of immutable object will be created

# List Comprehension

In [48]:
# It is a shorter/ single line way to create a new list from original list.
# for 2 conditions:- Syntax:- New list = [append part  loop part]

In [51]:
# Normal way to get a new list with squares of no. present in original list
A = [2,3,4,5,6,7,8,10]
B = []
for i in A:
    B.append(i*i)
print(B)

[4, 9, 16, 25, 36, 49, 64, 100]

In [53]:
# list Comprehension
B = [i*i for i in A] # (B)- new list, (i*i) - append part, (for i in A) - loop part
print(B)

[4, 9, 16, 25, 36, 49, 64, 100]

In [55]:
# normal way to check if given no in list is even or not
B = []
for i in A:
    B.append(i%2 == 0)
print(B)

[True, False, True, False, True, False, True, True]

In [57]:
# list Comprehension
B = [i%2 == 0 for i in A] # (B)- new list, (i%2 == 0) - append part, (for i in A) - loop part
print (B)

[True, False, True, False, True, False, True, True]

In [58]:
# for 3 conditions:- Syntax:- New list = [append part  loop part  condition]

In [59]:
# Print the no. from given list if it is even no.
B = []
for i in A:
    if i%2 == 0:
        B.append(i)
print(B)

[2, 4, 6, 8, 10]

In [60]:
# list Comprehension
B = [i for i in A if i%2 == 0] # (B)- new list, (i) - append part, (for i in A) - loop part, (if i%2==0) - Condition
print (B)

[2, 4, 6, 8, 10]

In [63]:
# Ternary Operator for if.. else.. condition :- 
# If part/ true part   if.. else.. condition    else part/ False part

In [62]:
B = []
for i in A:
    if i%2 == 0:
        B.append('Pune')
    else:
        B.append('Mumbai')
print(B)

['Pune', 'Mumbai', 'Pune', 'Mumbai', 'Pune', 'Mumbai', 'Pune', 'Pune']

In [64]:
# This can be written in shorter way by ternary operator:-
for i in A:
    print('Pune' if i%2 == 0 else 'Mumbai')

Pune
Mumbai
Pune
Mumbai
Pune
Mumbai
Pune
Pune

In [65]:
# So, we can use ternary operator to write list comprehension
B = ['Pune' if i%2 == 0 else 'Mumbai' for i in A]
print(B) # Here,(B)-new list, ('Pune' if i%2 == 0 else 'Mumbai' / Ternary operator) - append part, (for i in A)- loop part.

['Pune', 'Mumbai', 'Pune', 'Mumbai', 'Pune', 'Mumbai', 'Pune', 'Pune']

In [66]:
# List comprehension for n-Dimensional list/ list in list:-
# we can write n-D list by writting L. C. on the place of append in outer L.C.

In [104]:
A = [[i+j for j in range (3)] for i in range (3)]
print (A) # Here, we have written L.C [i+j for j in range (3)] on the place of append part of outer L.C.

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

# Tuple

In [137]:
'''Tuple:-Tuples are defined by using (). It is same like read only file. Tiple is iterable, we can write for loop on tuple
 Tuples are immutable. So, once we create any tuple, the we cannot change or modify it.
 Indexing (both forward and backward) and slicing in tuple is similar to list.
 In tuple we can have functions like, index, count but we dont have any function like append, insert, pop, remove '''

'Tuple:-Tuples are defined by using (). It is same like read only file. Tiple is iterable, we can write for loop on tuple\n Tuples are immutable. So, once we create any tuple, the we cannot change or modify it.\n Indexing (both forward and backward) and slicing in tuple is similar to list.\n In tuple we can have functions like, index, count but we dont have any function like append, insert, pop, remove '

In [118]:
A = (1,2,3,4,5) # Defining tuple
A[0] = 'A' # change in tuple is not possible

TypeError: 'tuple' object does not support item assignment

In [120]:
B = A [2:5] # Slicing and indexing in tuple is possible
B

(3, 4, 5)

In [121]:
A.count(4) # count, index func. are available

1

In [124]:
# we can create empty tuple by using () or tuple(). Generally it is used to provide null output of any function.

In [127]:
T1 = ()
T2 = tuple()
type (T1)

tuple

In [128]:
type (T2)

tuple

In [129]:
# Also, we can create tuple with single element in it, by using comma(,) at the end of element.
# if we donot provide comma, then python will consider it as paranthesis and object in it as int or str or float or bullien

In [130]:
T3 = (10)
type(T3) # here, python will consider () as paranthesis and 10 as a int

int

In [132]:
T4 = (10,)
type(T4) # here, python will consider T4 as a tuple, as we have provided comma at the end

tuple

In [133]:
t4 = (10,20,30)

In [134]:
t4.count(10)

1

In [136]:
t4.index(30)

2

In [138]:
# If there is any mutable object (list) present in tuple, then we can modify that mutable object(list).
A = (10,20, [30,40])
A [2].append('Pune') # it is possible to modify list present in tuple
A

(10, 20, [30, 40, 'Pune'])

In [152]:
# Also, we can use 'deep copy' to make a copy of a tuple
import copy
C = copy.deepcopy(A) #  'C' is deep copy of 'A'
A[2].append('Mumbai')
A

(10, 20, [30, 40, 'Pune', 'Mumbai'])

In [153]:
C

(10, 20, [30, 40, 'Pune'])

In [4]:
# Assigning values to variable
t1 = ('Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry')
(green, yellow, orange, purple, red) = t1
print(green)
print (orange)
print(red)

Apple
Orange
Strawberry

In [5]:
# Assigning values to variable :- if no of variables are less, then we can use (* Asterisk), and remaing values will get stored in list 
# and assigned to last variable
t1 = ('Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry')
(green, yellow, *orange) = t1
print(green)
print(yellow)
print (orange) # remaining values will be assigned to orange in the form of list

Apple
Banana
['Orange', 'Blackcurrent', 'Strawberry']

In [6]:
# if * Asterisk is given to any other variable than last then Python will assign values to the variable until
# the number of values left matches the number of variables left.
t1 = ('Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry')
(green, *yellow, orange) = t1
print(green)
print(yellow)
print (orange) # values will be assigned to *variable until the number of values left matches the number of variables left.

Apple
['Banana', 'Orange', 'Blackcurrent']
Strawberry

In [7]:
#Multiplication of tuple:- If we want to multiply the content of a tuple a given number of times, we can use the * operator
fruits = ('Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry')
multi = fruits*2
print (multi)

('Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry', 'Apple', 'Banana', 'Orange', 'Blackcurrent', 'Strawberry')

In [9]:
# Addition of tuples:- We can add one or more values in tuple by adding atuple of required values.
x1 = (10,20,30,40,50)
x2 = (60,70,80)
x3 = x1 + x2
print (x3)

(10, 20, 30, 40, 50, 60, 70, 80)