In [2]:
# Navie Bays Classifier:- It works on the basis of conditional Probability. In this we use Bays Theoram of probability
# P(A/B) = (P(B/A)* P(A))/ P(B)           Here, scaling is not required
# By using this formula we find the prob. of individual Class & class having highest probability will be predicted as o/p

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../Social_Network_Ads.csv')

In [11]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [12]:
X = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=52)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [16]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

In [17]:
model.score(X_test, y_test)

0.84